<!DOCTYPE html>
<html xmlns:th"http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"></head>

<body>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">NUEVO</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Numero</th>
					<th>Descripcion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona:${personas}">
					<td th:text="${persona.id}"></td>
					<td th:text="${persona.nombre}" ></td>
					<td th:text="${persona.apellido}"></td>
					<td th:text="${persona.numero}"></td>
					<td th:text="${persona.descripcion}"></td>
					<td>
						<a th:href="@{/editar/}+${persona.id}" class ="btn btn-warning">Editar</a>
						<a th:href="@{/eliminar/}+${persona.id}"class ="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>